// variables
$primary-color: white;
$background-color: black;
$secondary-color: red;

//mixin
@mixin score {
    position: relative;
    color: $primary-color;
}

@mixin play-piece {
    height: 20px;
    width: 20px;
    position: relative;
}


// css
body {
    background-color: $background-color;
    display: flex;
    align-items: center;
    justify-content: center;
}

#instructions {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    position: relative;
    right: 8em;
    width: 20vw;
    bottom: 5em;
    visibility: hidden;
}

#game-over {
    color: $primary-color;
    text-align: center;
    font-size: large;
    border: none;
    
}

h1 {
    text-align: center;
    border: 1px solid $secondary-color;
    color: $secondary-color;
}

#score {
    @include score;
}

#high-score {
    @include score;
}

li {
    color: $primary-color;
}

#play-area {
    display: flex;
    border: 5px double whitesmoke;
    height: 35em;
    width: 35em;
    visibility: hidden;
}

#player {
    @include play-piece;
    background-color: skyblue;
}

#consumable {
    @include play-piece;
    background-color: yellow;
}

.mine {
    @include play-piece;
    background-color: $secondary-color;
}

#mobile {
    position: absolute;
    color: $primary-color;
}

@media (min-width: 1000px) {
    #instructions {
        visibility: visible
    }
    
    #play-area {
        visibility: visible
    }
    
    #mobile {
        display: none
    }
}