body {
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: center;
}

#play-area {
    display: flex;
    border: 5px double whitesmoke;
    height: 35em;
    width: 35em;
}

#player {
    height: 20px;
    width: 20px;
    background-color: teal;
    position: relative;
}

#consumable {
    height: 20px;
    width: 20px;
    background-color: tomato;
    position: relative;
}