body {
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: center;
}

#instructions {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    position: relative;
    right: 8em;
    width: 20vw;
    bottom: 5em;
}

#game-over {
    color: white;
    text-align: center;
    font-size: large;
    border: none;

}

h1 {
    text-align: center;
    border: 1px solid red;
    color: red;
}

#score {
    color: white;
    position: relative;
}

#high-score {
    color: white;
    position: relative;
}

li {
    color: white;
}

#play-area {
    display: flex;
    border: 5px double whitesmoke;
    height: 35em;
    width: 35em;
}

#player {
    height: 20px;
    width: 20px;
    background-color: skyblue;
    position: relative;
}

#consumable {
    height: 20px;
    width: 20px;
    background-color: yellow;
    position: relative;
}

.mine {
    height: 20px;
    width: 20px;
    background-color: red;
    position: relative;
}